<!DOCTYPE html>
<html>
<head>
    <title>
        Campaign/Cause
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
</head>
<body>
<section class="hero is-success is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-large">
                Campaign name
            </h1>
            <h2 class="subtitle">
                Category
            </h2>
        </div>
    </div>
</section>

<div class="section">
    <div class="columns ">
        <aside class="column is-2 is-sidebar-menu is-fullheight">

            <nav class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <p class="menu-label">
                    Find
                </p>
                <ul class="menu-list">
                    <li><a href="#">Showcase</a></li>
                    <li><a href="#">All campaigns</a></li>
                </ul>

                <p class="menu-label">
                    Personal
                </p>
                <ul class="menu-list">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Impact</a></li>
                    <li><a href="#">Rewards</a></li>
                </ul>

                <p class="menu-label">
                    extra
                </p>
                <ul class="menu-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
        </aside>


        <section class="section is-primary">
            <div class="container">
                <h1 class="title">
                    Longer description of the cause/campaign
                </h1>
            </div>
        </section>

    </div>
</div>

</body>
</html>