<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="update-xp" method="POST">
    <input type="number" name="xp">
    <input type="email" name="email" value="kow@gmail.com">
    <input type="submit">
</form>
</body>
</html>
