<!DOCTYPE html>
<html>
<head>
    <title>
        Organization
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
</head>
<body>
<section class="hero is-medium is-warning">
    <div class="hero-body">
        <div class="columns">
            <div class="column">
                <figure class="image is-128x128">
                    <img src="http://bulma.io/images/placeholders/128x128.png" alt="placeholder_image_org">
                </figure>
            </div>

            <div class="column">
                <div class="container" style="margin-top: 50px">
                    <h1 class="title is-large">
                        Organization name
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section">
    <div class="columns ">
        <aside class="column is-2 is-sidebar-menu is-fullheight">

            <nav class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <p class="menu-label">
                    Find
                </p>
                <ul class="menu-list">
                    <li><a href="#">Showcase</a></li>
                    <li><a href="#">All campaigns</a></li>
                </ul>

                <p class="menu-label">
                    Personal
                </p>
                <ul class="menu-list">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Impact</a></li>
                    <li><a href="#">Rewards</a></li>
                </ul>

                <p class="menu-label">
                    extra
                </p>
                <ul class="menu-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
        </aside>

        <section class="section cards">
            <div class="columns is-multiline">
                <div class="column" style="width: 250px" style="word-wrap: break-word">
                    <div class="card-image">
                        <figure class="image is-128x128">
                            <img src="http://bulma.io/images/placeholders/128x128.png" alt="placeholder_image_cause">
                        </figure>
                    </div>

                    <div class="content" style="margin-top: 10px">
                        <p class="title is-4">
                            Test Title
                        </p>
                        <p class="subtitle is-6">
                            This is where we will give a short description of the cause
                        </p>
                    </div>
                    <div class="container">
                        <button>

                        </button>

                    </div>
                </div>

                <div class="column" style="width: 250px" style="word-wrap: break-word" >
                    <div class="card-image">
                        <figure class="image is-128x128">
                            <img src="http://bulma.io/images/placeholders/128x128.png" alt="placeholder_image_cause">
                        </figure>
                    </div>

                    <div class="content" style="margin-top: 10px">
                        <p class="title is-4">
                            Test Title
                        </p>
                        <p class="subtitle is-6">
                            This is where we will give a short description of the cause
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

</body>
</html>