<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>GiveBack</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1><a href="#">My rewards</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li>  </li>
									<li class="current"><a href="/users/kowshik">Profile</a></li>
									<li>  </li>
									<li class="current"><a href="/">Find Causes</a></li>
								</ul>
							</nav>

						<!-- Banner -->
						

						<!-- Intro -->
							
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Portfolio -->
									<section>
										<hr/>
										<div class="row">
											
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/pic04.png" alt="" /></a>
													<header>
														<h3>5% off on Spotify</h3>
													</header>
													<p>Get 5% off on your next spotify plan. Collect 300 points. </p>
													<footer>
														<a href="#" class="button alt">Redeem now</a>
													</footer>
												</section>
												<hr/>
											</div>
										
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/pic05.jpg" alt="" /></a>
													<header>
														<h3>10% off on Uber</h3>
													</header>
													<p>Get 10% off on your next ride. Collect 500 XP </p>
													<footer>
														<a href="#" class="button alt">Redeem now</a>
													</footer>
												</section>
												<hr/>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/pic06.jpg" alt="" /></a>
													<header>
														<h3>Buy 1 get 1 Free</h3>
													</header>
													<p>Buy a pan at FairPrice and get one free. Collect 600 XP</p>
													<footer>
														<a href="#" class="button alt">Redeem now</a>
													</footer>
												</section>
												<hr/>
											</div>
											</div>
										</div>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="12u">

							</div>
						</div>
					</div>
				</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/skel-viewport.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src=../assets/js/main.js"></script>

	</body>
</html>
